.heading{
    font-style:italic ;
    margin:0px;
    font-size: 25px;
}
.note{
    font-size:20px;
    color:black;
}
.play_btn{
    width:150px;
    font-size: 20px;
}
body{
    background-size:cover;

}